<table class="meetings">
  <thead>
    <th>Møtedato</th>
    <th>Møtetype</th>
    <th>Selskap</th>
  </thead>
  <tbody>
    <tr *ngFor="let meeting of meetings" [class.selected]="meeting === selectedMeeting" (click)="onSelect(meeting)">
      <td>{{meeting.requested_meetdate | date}}</td>
      <td>{{meeting.meeting_category}}</td>
      <td>{{meeting.entity}}</td>
    </tr>
  </tbody>
</table>

<button (click)="onClickNewMeetingRequest()">Lag Møteinnkalling</button>

<div *ngIf="selectedMeeting">
  <h3>
    {{selectedMeeting.meeting_category}} - {{selectedMeeting.entity}}
  </h3>
  
  Deltakere:
  <ul class="participants">
    <li *ngFor="let participant of selectedMeeting.participants">
      <span>{{participant.first_name}} {{participant.last_name}}</span>
    </li>
  </ul>

 Agenda:
  <ul class="subjects">
    <li *ngFor="let subject of selectedMeeting.meeting_subjects">
      <span>{{subject.headline}}</span>
    </li>
  </ul>

</div>
