<h2>Mine møter</h2>
<ul class="meetings">
  <li *ngFor="let meeting of meetings"
    [class.selected]="meeting === selectedMeeting"
    (click)="onSelect(meeting)">
    <span class="badge">{{meeting.requested_meetdate | date}}</span>
    <span>{{meeting.meeting_category}} - {{meeting.entity}}</span>
  </li>
</ul>
<button (click)="onClickNewMeetingRequest()">Lag Møteinnkalling</button>

<div *ngIf="selectedMeeting">
  <h3>
    {{selectedMeeting.meeting_category}} - {{selectedMeeting.entity}}
  </h3>
  
  Deltakere:
  <ul class="participants">
    <li *ngFor="let participant of selectedMeeting.participants">
      <span>{{participant.name}}</span>
    </li>
  </ul>

 Agenda:
  <ul class="subjects">
    <li *ngFor="let subject of selectedMeeting.meeting_subjects">
      <span>{{subject.headline}}</span>
    </li>
  </ul>

</div>
