<div class='container'>  
  <div class='row'> 
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h2>Liste over kommende møter:</h2>
      <app-meetinglist #meetinglist> </app-meetinglist>  
    </div>
    
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div *ngIf="meetinglist.selectedmeeting" class='row'>      
        <h3>
          {{meetinglist.selectedmeeting.meeting_category.name}} - {{meetinglist.selectedmeeting.entity.name}}
        </h3>
        
        Deltakere:
        <ul class="participants">
          <li *ngFor="let participant of meetinglist.selectedmeeting.participants">
            <span>{{participant.person_first_name}} {{participant.person_last_name}}</span>
          </li>
        </ul>
    
        Agenda:
        <ul class="subjects">
          <li *ngFor="let subject of meetinglist.selectedmeeting.meeting_subjects">
            <span>{{subject.subject_headline}}</span>
          </li>
        </ul>
      </div> 
    </div>    
  </div>

  <div class='row'>  
    <button type="button" class="btn btn-default">Start møte</button>
    <button (click)="onClickNewMeetingRequest()">Lag ny møteinnkalling</button>    
  </div> 
</div>
