<h2>My Meetings</h2>
<div>
  <label>Meeting name:</label> <input #meetingName />
  <button (click)="add(meetingName.value); meetingName.value=''">
    Add
  </button>
</div>
<ul class="meetings">
  <li *ngFor="let meeting of meetings"
    [class.selected]="meeting === selectedMeeting"
    (click)="onSelect(meeting)">
    <span class="badge">{{meeting.id}}</span>
    <span>{{meeting.name}}</span>
    <button class="delete"
      (click)="delete(meeting); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedMeeting">
  <h2>
    {{selectedMeeting.name | uppercase}} is my meeting
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
