<div class="container">    
  <div class='row'> 
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h2>Liste over kommende møter:</h2>
      <app-meetinglist #meetinglist> </app-meetinglist>  
    </div>
    
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div *ngIf="meetinglist.selectedmeeting" class='row'>      
        <h3>
          {{meetinglist.selectedmeeting.meeting.meeting_category.name}} - {{meetinglist.selectedmeeting.meeting.executive_entity.name}}
        </h3>
        
        <h4>Deltakere:</h4>
        <ul class="meetingparticipants">
          <li *ngFor="let participant of meetinglist.selectedmeeting.meeting.meetingparticipants">
            <span>{{participant.first_name}} {{participant.last_name}}</span>
          </li>
        </ul>
    
        <h4>Agenda:</h4>
        <ul class="subjects">
          <li *ngFor="let subject of meetinglist.selectedmeeting.meeting.meetingsubjects">
            <span>{{subject.headline}}</span>
          </li>
        </ul>
      </div> 
    </div>    
  </div>

  <div class='row'>  
    <button type="button" [disabled]="!meetinglist.selectedmeeting" class="btn btn-default">Start møte</button>
    <button (click)="onClickNewMeetingRequest()">Lag ny møteinnkalling</button>    
  </div>
</div>