<div class="container">
    <h2>Ny Møteinnkalling</h2>
    <div class="row">	
        <div class="col-md-6">
            <form (ngSubmit)="onSubmit()" #meetingForm="ngForm">
                <div class="form-group">
                    <label for="entity">Velg Boligselskap</label>
                    <select class="form-control" name="entity" id="entity" required [(ngModel)]="meeting.executive_entity" (change)="onChangeEntity()">
                        <option *ngFor="let entity of (entityrelations | async)" [ngValue]="entity">{{ entity?.entity.name }}</option>
                    </select>
                </div>
                
                <div name="restofform" *ngIf="meeting.executive_entity">
                    <div class="form-group">
                        <label for="meetingcategory">Møtekategori</label>							
                        <select class="form-control" name="category" required [(ngModel)]="meeting.meeting_category">
                            <option *ngFor="let category of (meeting_categories | async)" [ngValue]="category">{{category?.name}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                      <label for="date">Foreslått Møtedato</label>
                      <input type="date" class="form-control" name="date" id="date" required [(ngModel)]="meeting.requested_meetdate" ngbDatepicker #d="ngbDatepicker">
                    </div>

                    <div class='wrapper'>
                        <label>Inviterte</label>
                        <ul class='container'  [(ngModel)]='meeting.meetingparticipants'>
                            <li *ngFor="let participant of meeting.meetingparticipants">
                                {{participant.person.first_name}} {{participant.person.last_name}}
                                <button class="delete">x</button>									
                            </li>	
                        </ul>
                    </div>

                    <div class='wrapper'>
                        <label>Agenda</label>
                        <ul class='container' [(ngModel)]='meeting.meetingsubjects'>
                            <li *ngFor="let meetingsubject of meeting.meetingsubjects">
                                {{meetingsubject.subject.headline}}
                                <button class="delete">x</button>	
                            </li>
                        </ul>
                    </div>

                    <button type="submit" class="btn btn-success" [disabled]="!meetingForm.form.valid">Lag innkalling</button>
                </div>
            </form>	
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <label class="panel-heading">Foreslåtte møtedeltakere</label>
                <ul class="list-unstyled panel-body scroll-area">	
                    <li *ngFor="let person of meetingparticipants">{{person.person.first_name}} {{person.person.last_name}}</li>
                </ul>
            </div>

            <div class="panel panel-default">
                <label class="panel-heading">Foreslåtte agendapunkter</label>
                <ul class="list-unstyled panel-body">	
                    <li *ngFor="let subject of possible_meetingsubjects">{{subject.headline}}</li>
                </ul>
                <button *ngIf="meeting.executive_entity" type="button" class="btn btn-default" data-toggle="modal" data-target="#NewMeetingSubjectModal">Nytt agendapunkt</button>
            </div>
         
        </div>
    </div>
</div>