<div class="container">
    <h2>Ny Møteinnkalling</h2>
    <div class="row">	
        <div class="col-md-6">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div class="form-group">
                    <label for="entity">Velg Boligselskap</label>
                    <select class="form-control" name="entity" id="entity" required [(ngModel)]="meeting.executive_entity" (change)="onChangeEntity()">
                        <option *ngFor="let entity of (entityrelations | async)" [ngValue]="entity">{{ entity?.entity.name }}</option>
                    </select>
                </div>
                
                <div name="restofform" *ngIf="meeting.executive_entity">
                    <div class="form-group">
                        <label for="meetingcategory">Møtekategori</label>							
                        <select class="form-control" name="category" required [(ngModel)]="meeting.meeting_category">
                            <option *ngFor="let category of (meeting_categories | async)" [ngValue]="category">{{category?.name}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                      <label for="date">Foreslått Møtedato</label>
                      <input type="date" class="form-control" name="date" id="date" required [(ngModel)]="meeting.requested_meetdate" ngbDatepicker #d="ngbDatepicker">
                    </div>

                    <div class='wrapper'>
                        <label>Inviterte</label>
                        <ul class='container' [dragula]='"bag-one"' [dragulaModel]='meeting.meetingparticipants'>
                            <li *ngFor="let participant of chosen_persons">
                                {{participant.person.first_name}} {{participant.person.last_name}}
                                <button class="delete" (click)="onClickRemoveMeetingParticipant(participant); $event.stopPropagation()">x</button>									
                            </li>	
                        </ul>
                    </div>

                    <div class='wrapper'>
                        <label>Agenda</label>
                        <ul class='container' [dragula]='"bag-two"' [dragulaModel]='meeting.meetingsubjects'>
                            <li *ngFor="let meetingsubject of chosen_subjects">
                                {{meetingsubject.plan.headline}}
                                <button class="delete" (click)="onClickRemoveSubject(meetingsubject); $event.stopPropagation()">x</button>	
                            </li>
                        </ul>
                    </div>

                    <button type="submit" class="btn btn-success" [disabled]="!f.valid">Lag innkalling</button>
                </div>
            </form>	
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <label class="panel-heading">Foreslåtte møtedeltakere</label>
                <ul class="list-unstyled panel-body scroll-area">	
                    <li *ngFor="let person of suggested_persons" (click)="onSelectPerson(person)">{{person?.person.first_name}} {{person?.person.last_name}}</li>
                </ul>
            </div>

            <div class="panel panel-default">
                <label class="panel-heading">Foreslåtte agendapunkter</label>
                <ul class="list-unstyled panel-body">	
                    <li *ngFor="let subject of suggested_subjects" (click)="onSelectSubject(subject)">{{subject?.plan.headline}}</li>
                </ul>
                <button *ngIf="meeting.executive_entity" type="button" class="btn btn-default" data-toggle="modal" data-target="#NewMeetingSubjectModal">Nytt agendapunkt</button>                
            </div>
            <!-- Modal -->
            <div class="modal fade" id="NewMeetingSubjectModal" tabindex="-1" role="dialog">
              <app-new-meetingsubject></app-new-meetingsubject>                 
            </div>
            <!-- Modal End -->
            
        </div>
    </div>
</div>