<div class='row'>
	<h2>Ny Møteinnkalling</h2>
</div>

<div class="row">
	<div class="col-md-6">
		
		<form (ngSubmit)="onSubmit()" #meetingForm="ngForm">
			<div class="form-group">
				<label for="entity">Velg Boligselskap</label>
				<select class="form-control" name="entity" id="entity" required [(ngModel)]="model.entity" (change)="onEntityChange()">
					<option *ngFor="let entity of possible_entities" [ngValue]="entity">{{entity.name}}</option>
				</select>
			</div>
								
			<div class="form-group">
				<label for="meetingcategory">Møtekategori</label>
				<select class="form-control" name="category" required [(ngModel)]="model.meeting_category">
					<option *ngFor="let category of possible_categories" [ngValue]="category">{{category.name}}</option>
				</select>
			</div>

			<div name="restofform" *ngIf="model.entity">
			
				<div class="form-group">
					<label for="date">Foreslått Møtedato</label>
					<input type="date" class="form-control" name="date" id="date" required [(ngModel)]="model.requested_meetdate" >
				</div>

				<div>
					<label>Møtedeltakere</label>
					<ul>	
						<li *ngFor="let participant of model.participants">{{participant.first_name}} {{participant.last_name}}</li>
					</ul>
				</div>

				<div>
					<label>Agenda</label>
					<ul>	
						<li *ngFor="let meetingsubject of model.meeting_subjects">{{meetingsubject.headline}}</li>
					</ul>
				</div>
		
				<button type="submit" class="btn btn-success" [disabled]="!meetingForm.form.valid">Submit</button>
			
			</div>
		</form>
	
	</div>

	<div class="col-md-6">
		<div class='row'>
			<label>Velg møtedeltakere</label>
			<ul class='list'>	
				<li *ngFor="let participant of possible_participants" (click)="onSelect(participant)">{{participant.first_name}} {{participant.last_name}}</li>
			</ul>	
		</div>

		<div class='row'>
			<label>Velg agendapunkter</label>
			<bs-sortable
			[(ngModel)]="possible_meetingsubjects"
			fieldName="headline"
			itemClass="sortable-item"
			itemActiveClass="sortable-item-active"
			wrapperClass="sortable-wrapper"
			></bs-sortable>			
		</div>
	</div>
</div>